nginx:
  build: ./nginx
  ports:
    - 80:80
  links:
    - php
  volumes_from:
    - app

php:
  build: ./php/
  expose:
    - 9000
  links:
    - mysql
  volumes_from:
    - app

app:
  image: php:7.0-fpm
  volumes:
    - ./hello-slim/public:/var/www/html
    - ./hello-slim:/var/www
  command: "true"

mysql:
  image: mysql:latest
  volumes_from:
    - data
  environment:
    MYSQL_ROOT_PASSWORD: secret
    MYSQL_DATABASE: slimapp
    MYSQL_USER: jermbo
    MYSQL_PASSWORD: letmein

data:
  image: mysql:latest
  volumes:
    - /var/lib/mysql
  command: "true"

phpmyadmin:
  image: phpmyadmin/phpmyadmin
  ports:
    - 8080:80
  links:
    - mysql
  environment:
    PMA_HOST: mysql



